
select{
	height: 44px;
	border-radius: 5px;
	font-family: monospace;
	font-size: larger;
}

td {
    padding: 5px;
}

#sesiones{
	height: 100% !important;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

 .page-header h1 small {
    display: block;
    line-height: 18px;
  }

  .page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.page-header h1 {
  line-height: 1;
}


body {
  padding-top: 50px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.dashboard{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.crud-table{
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.btn-alta{
  margin: 10px;
  float: right;
}

.btn-actualizar{
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-eliminar{
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;  
}

.btn-guardar{
  float: right;
}

.btn-eliminar-material{
  margin-left: 2px;
  margin-top: 2px;
  margin-right: 0px;
  height: 30px;
}

.btn-alta-material{
  margin: 2px;
}

.select-material{
  width: 43%;
  height: 28px;
  display: table-cell;
  padding: 0px;
  margin-right: 4.5px;
}


.productos-icon{
  background-image: url('varias/icon-chain.png');
  background-repeat: no-repeat;
  display: block;
  height: 65px;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
       -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
            box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
    display: block;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
       -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
            border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}


.logo-header{
  width: 50px;
  height: 37px;
  margin-top: -10px;
}